<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset = utf-8"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href='inc/img/favicon.ico' rel='icon' type='image/x-icon'/>

    {% include "js.jqueryCss.twig" %}
    {% block stylesheets %}
        <link href="inc/css/navMenuStyles.css" rel="stylesheet"/>
    {% endblock %}

    {% block head_block %}
    {% endblock %}
</head>
<div class="container">
    <div id="mainBody">