{% extends "base.html.twig" %}
{% block mainBody %}
    <div class="errorMessage">
        <p>It appears the link you used to get here expired.</p>
        <p>Please remember that the emailed links are only good for 24 hours.</p>
        <p>Please check your email for today's link. Make sure you check your spam or junk mail folder.</p>
        <p>If you cannot find today's link, please report the problem to us at [email link]</p>
    </div>
{% endblock %}