<div id="footer" class="footer">
    <hr/>
    <div id="footInfo">
        <div class="footInfoArea">Who we are</div>
        <div class="footInfoArea">About the study</div>
        <div class="footInfoArea">Disclosures</div>
        <div class="footInfoArea">Contact</div>
    </div>
    <div id="copyrightArea"><p>&#169; Merp Co., Intl 2008-{{ now|date("y") }}</p></div>
    <div id="testLine"> {{ testline }} </div>
    <div id="editingArea">{{ editing }}</div>
</div>