</div> <!-- close mainBody -->
    {% block footer %}
        {% include "page.base.footer.twig" %}
    {% endblock %}

</div> <!-- close container -->
<div id="scriptBox">
    {% include "js.jquery.twig" %}
    <script type="text/javascript">
        {% autoescape false %}
            {{ scriptlist }}
        {% endautoescape %}
    </script>
    {% include "js.scriptloader.twig" %}
    <script type="text/javascript">
        $(document).ready(function() {
        {% autoescape false %}
            {{ onload }}
        {% endautoescape %}
            if(scripts){
                scriptLoader(scripts, scripts.length, onLoad, 0);
            }
        });
    </script>
    {% block scriptBox %}
    {% endblock %}
</div>
</body>
</html>