<p>
    Please enter a nickname which your partner will use to identify you in their prayers. <br/>
<ul>
    <li>Please do not use your real name.</li>
    <li>Please do not use anything vulgar or which your partner may be uncomfortable using in a prayer.</li>
    <li>Please make sure that you register this nickname with your preferred deity.</li>

</ul>
</p>
