{% extends "studyarea.base.twig" %}

 {% block areaTitle %}
     Record pain
 {% endblock %}

{% block topInstruction %}
    Please rate the pain you are experiencing today
{% endblock %}

{% block mainContent %}
{{ mainContent }}
{% endblock %}

{% block submissionControls %}
{% endblock %}

{% block bottomInstructions %}
    <div class="bottomInstructions">Once you have completed the above pain questionnaire, please follow the instructions which will appear below.</div>
{% endblock %}