{% extends "studyarea.prayertask.base.twig" %}

{% block topInstruction %}
<p class="instructionText">
    You are currently on the waitlist for a partner to be assigned. Please continue filling out the pain questionnaires.
</p>
<p class="instructionText">
    Thank you for your patience! And, thank you again for your participation
    </p>
    <p class="instructionText">
    [Or should we just keep the pre experimental message. People might get discouraged and stop checking in if they think they are on a waitlist...]
    </p>
{% endblock %}

{% block mainContent %}
{% endblock %}

{% block submissionControls %}
{% endblock %}

{% block bottomInstructions %}
{% endblock %}