{% extends "studyarea.base.twig" %}

 {% block areaTitle %}
     Prayer assignment
 {% endblock %}

{% block topInstruction %}
    Once you have completed the above pain questionairre, please follow the instructions which will appear below.
{% endblock %}

{% block mainContent %}
    <div class="startHidden">
        {{ mainContent }}
    </div>
{% endblock %}

{% block submissionControls %}
    <div class="startHidden">
        <input type="button" id="prayerSubmit" class="prettyButton" value="Prayer completed"/>
    </div>
{% endblock %}

{% block bottomInstructions %}
    <div class="startHidden">
    </div>
{% endblock %}