{% extends "studyarea.prayertask.base.twig" %}

{% block topInstruction %}
    <p class="instructionText">
        The study is now complete.
    </p>
    <p class="instructionText">
        Please feel free to pray or not pray for your partner as much as you wish.
    </p>
    <p class="instructionText">
        [Debrief]
    </p>
    <p class="instructionText">
        [contact info]
    </p>
{% endblock %}
