{% extends "studyarea.prayertask.base.twig" %}

{% block topInstructionPrayer %}
    <p class="instructionText">
        The experimental phase of the study has been completed. However, we now need you to stop praying for your
        partner for a couple of weeks. During this time please continue to fill out the pain questionnaire.
    </p>
    <p class="instructionText">
        After this final phase if complete, you may pray or not pray for your partner as much as you wish.
    </p>
{% endblock %}