{#This is the message that participants get in the pre-experimental phase and the patients get in the waitlist group #}

<p class="instructionText">For the first few weeks of the study, all participants will only fill out
    the pain report. [link to faq page that explains this].</p>
<p class="instructionText">Thank you for your patience. And, thank you again for your participation!</p>