<div id="{{ studyAreaId }}" class="studyArea">
    <div class="areaTitle studyAreaItem">
        {% block areaTitle %}
        {% endblock %}
    </div>

    <div class="topInstructions studyAreaItem startHidden">
        {% block topInstruction %}
        {% endblock %}
    </div>

    <div class="mainContent studyAreaItem startHidden">
        {% block mainContent %}
        {% endblock %}
    </div>
    <div class="statusMessageArea emptyOnStart startHidden">
        {# success/failure messages will be displayed here #}
    </div>
    <div class="submissionControls studyAreaItem startHidden">
        {% block submissionControls %}
        {% endblock %}
    </div>

    <div class="bottomInstructions studyAreaItem startHidden">
        {% block bottomInstructions %}
        {% endblock %}
    </div>
</div>