{% extends "studyarea.prayertask.base.twig" %}

{% block topInstructionPrayer %}
    <p class="instructionText">Please complete the following prayer on behalf of your partner.</p>
    <p class="instructionText">Please do not forget to click the "Prayer completed" button below. Once you do
    that, your partner will be notified that you have prayed for them.</p>
{% endblock %}

{% block mainContentPrayer %}
        {{ mainContent }}
{% endblock %}

{% block submissionControlsPrayer %}
    {% include "studyarea.prayertask.base.prayersubmit.twig" %}
{% endblock %}

{% block bottomInstructionsPrayer %}
    {{ bottomInstructions }}
{% endblock %}