.pageComponent{
    display: block;
    clear: both;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
}

label{
    display: block;
    font-weight: bold;
}

#pageTitle{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.subArea{
    padding-left: 2%;
}